<body id="page-top">
  <header class="masthead">
    <div class="dot2">
      <img src="assets/img/iso5.png" alt="">
    </div>
      <div class="h-100 d-inline-block" style="width: 50%; background-color: rgba(3, 3, 3, 0.5);float: left;vertical-align: middle; " (click)="scan('1')" tappable>
        <div class="row h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-8 align-self-center">
            <h2 class="c-white" style="font-size: 45px;color: rgba(244, 150, 54);font-family:'libre_baskervilleregular';;margin-right: 2%;margin-left: 2%">MALBEC{{pico1|uppercase}}</h2>
            <h4 class="c-white" style="font-size: 15px;font-family:'libre_baskervilleregular';margin-right: 5%;margin-left: 5%;margin-top: 5%;">{{caracteristicas}}</h4>
                    </div>         
        </div>
      </div>
      <div class="h-100 d-inline-block" style="width: 50%; background-color: rgba(25, 25, 25, 0.5);float: left;vertical-align: middle;" (click)="scan('2')" tappable>
        <div class="row h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-8 align-self-center" >
            <h2 class="c-white" style="font-size: 45px;color: rgba(244, 150, 54);font-family:'libre_baskervilleregular';;margin-right: 2%;margin-left: 2%">BLANCO DULCE{{pico2|uppercase}}</h2>
            <h4 class="c-white" style="font-size: 15px;font-family:'libre_baskervilleregular';margin-right: 5%;margin-left: 5%;margin-top: 5%;">{{caracteristicas2}}</h4>
            </div>
        </div>
      </div>
      <div style="float: left; margin-top: -60px;margin-left: 404px;">
        <p class='dot' id="conexion_home"></p>
        <p class='dot' id="estado_home"></p>
      </div>
  </header>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Consumidor</ion-title>
  </ion-toolbar>
  {{trama}}
  <br>
  {{estado}}
  <br>
</ion-header>

<ion-content>

   <a (click)="back()">ir a home</a> -->
<!-- <div id="container">

    <strong> Hola {{nombre}} {{apellido}}<br>
      Tu saldo {{restante}} ({{gasto}})</strong>


  </div>
</ion-content>
<ion-footer>
  <ion-button (click)="cerrar()">CERRAR</ion-button>
</ion-footer> -->
